<div style="margin: 50px 0" class="container">
    <div class="row">
        <img src="http://i.imgur.com/GnRcoeP.png" alt="">
    </div>
    <h3 style="font-size: 40px; color: red" class="font-bold">Xin lỗi trang của bạn đang tìm kiếm không tồn tại!</h3>
</div>